<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hello max - 1st app forreal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F80A5F271CCB5C9800F14B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80A5F401CCB5C9900F14B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80A5F4B1CCB5C9900F14B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
